<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Multiplication Table</title>
  </head>
<body>
<h1>Multiplication Table</h1>
<table>
  <% @x.each do |i| %>
    <tr>
      <td><%= i * 1 %></td>
      <td><%= i * 2 %></td>
      <td><%= i * 3 %></td>
      <td><%= i * 4 %></td>
      <td><%= i * 5 %></td>
      <td><%= i * 6 %></td>
      <td><%= i * 7 %></td>
      <td><%= i * 8 %></td>
      <td><%= i * 9 %></td>
      <td><%= i * 10 %></td>
      <td><%= i * 11 %></td>
      <td><%= i * 12 %></td>
    </tr>
  <% end %>
</table>
</body>
</html>